extends ../layout

block content
    div(ng-controller="OrderController")

        .fluid-row

            button.btn-success(ng-click="startOrder()")
                i.icon-shopping-cart
                | New
            button.btn-success(value="Page", href="/orders/previous/", onclick="location.href='/order/previous';")
                i.icon-repeat
                | Previous
            P

            div.search.well

                div.client(ng-show='showSearch', ng-model='client')
                    p.accc Acc Holder:
                    select(ng-options="client as client.name for client in clientList", ng-model="clients") {{client}}
                        //-option(ng-repeat='client in clientList', value="{{client.acc}}") {{client.name}}
                    p.ser Search:
                    input.sort(ng-model='query', onclick="this.value = ''; $scope.searchData = [];") 
                    
                    table.products
                        thead
                            tr
                                th Item
                        tbody
                            tr.line(ng-repeat='product in searchData')
                                td.productListItem {{product.description}}
                                    td 
                                        buton.btn(href='#productUnitModal', role='button', data-toggle='modal', ng-click="setItemNumber(product.material_num)") 
                                            | Add Item

            div.panel(ng-show='showSearch').well
                h2 Order :: {{order_num}}
                table.table.table-hover
                    thead
                        tr
                            th Product
                            th Unit
                            th Count
                            th Dicsount
                            th Price
                    tbody
                        tr.item(ng-repeat='item in orderItems')
                            td(data-title="Product") {{item.name}}
                            td(data-title="Unit") {{item.unit}}
                            td(data-title="Count") {{item.count}}
                            td(data-title="Count") {{item.discount}}
                            td(data-title="Price") {{item.price}}
                p.totalPrice Total Due: {{totalCost}}
                button.btn-danger(ng-click="dropOrder()")
                    span.ladda-label Submit



            #productUnitModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='productUnitModal', aria-hidden='true')
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h3 Select Unit and Count
                .modal-body
                    p Add:
                    input#unitCount(type='number', ng-model="unitCount", step="any", value="0")
                    p of type:
                    select.unitSelect(ng-model="unitTypeSelect")
                        option(value="pallete", ng-model="unitType") Pallete
                        option(value="case", ng-model="unitType") Case
                        option(value="pack", ng-model="unitType", selected) Pack
                    p with Discount
                    input#discountSet(type="number", step="any", value="0", ng-model="discountModel")
                .modal-footer
                    button.bt(data-dismiss='modal', aria-hidden='true', ng-click="addItem(itemNumber)") Proceed

