body {
	background-color: black; 
	border-color: #00FF00;
}

.container {
	width: 99%;
}


h1 {
	   -webkit-text-stroke: 1px #00FF00;
	   color: black;
}

.well {
	border-color: #51a351;
	background-color: rgba(81, 163, 81, 0.1);
}

/*.line {
	color: black;
	font-weight: bold;

}
*/
.productListItem {
	/*background-color: white*/
	color: white;
	border-color: #00FF00;
}

.search, .sort {
	color: black;
	margin-right: 5px;
	margin-left: 1px;
	margin-bottom: 5px;
}

.order {
/*	float: left;
	width: auto*/;
}

/*.panel {
	float:right;
	width: auto;
}*/

h2 {
	color: white;
}

th {
	color: black;
	background-color:#51a351;
}

td {
	color: white;
}

.search, .acc {
	color: white;
}

.totalPrice {
	color: red;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

hr {
	border-color: #00FF00;
}
 .item {
 	border-color: #00FF00;
 }

 table, th, td
{
border: 1px solid #51a351;
}

.btn {
	margin: 2px;
}