body {
	background: url(../img/grad_1.jpg); 
}

.container {
	width: 90%;
	float: center;
}

.btn-primary {
	margin-bottom: 10px;
	margin-right: 5px;
}

h1 {
	   -webkit-text-stroke: 1px white;
	   color: red;
}

.well {
	background-color: rgba(0, 0, 0, 0.5);
}

/*.line {
	color: black;
	font-weight: bold;

}
*/
.productListItem {
	/*background-color: white*/
	color: white;
}

.search, .sort {
	color: black;
	margin-right: 5px;
	margin-left: 1px;
	margin-bottom: 5px;
}

.order {
/*	float: left;
	width: auto*/;
}

/*.panel {
	float:right;
	width: auto;
}*/

h2 {
	color: white;
}

th {
	color: white;
}

td {
	color: white;
}

.search, .acc {
	color: white;
}

.totalPrice {
	color: red;
}

