extends ../layout

block content
  .row
    .well.span3
      ul.unstyled
      p
        a.btn.btn-primary(href=path.pathFor('product.new'))
          i.icon-user.icon-white
          |  New Product
      p
        a.btn.btn-primary(href=path.pathFor('product.import'))
          i.icon-chevron-left.icon-white
          |  Import