extends layout

block content
    .row
        well.span3
            ul
                p
                a.btn.btn-primary(href=path.pathFor('product.index'))
                    i.icon-plus-sign.icon-white
                    |  Products
                p
                a.btn.btn-primary(href=path.pathFor('product.new'))
                    i.icon-pencil.icon-white
                    |  Orders
                p
                a.btn.btn-primary(href=path.pathFor('product.new'))
                    i.icon-user.icon-white
                    |  Clients
                