extends layout

block content
    .row
        well.span3
            ul
                p
                a.btn.btn-primary(href=path.pathFor('product.new'))
                    i.icon-plus-sign.icon-white
                    |  Add Product
                p
                a.btn.btn-primary(href=path.pathFor('product.new'))
                    i.icon-pencil.icon-white
                    |  Place Order
                p
                a.btn.btn-primary(href=path.pathFor('product.new'))
                    i.icon-user.icon-white
                    |  View Clients
                p
                a.btn.btn-primary(href=path.pathFor('product.import'))
                    i.icon-chevron-left.icon-white
                    |  Import Stock